@charset "utf-8";
// ===================================================================
// レイアウト関係のスタイル
// ===================================================================


/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
header {
	margin-bottom: $base_margin_bottom;
	background: #fff;
	
	#nav {
		@extend .clearfix;
		li {
			float: left;
		}
	}
}


/*----------------------------------------------------
	フッター
----------------------------------------------------*/
footer {
	@extend .clearfix;
	background: #CCFF99;
	
	.copyright {
		text-align: center;
	}
}


/*----------------------------------------------------
	メニュー
----------------------------------------------------*/
nav {
	ul {
		li {
			display: inline;
			margin: 0;
		}
	}
}


