<!DOCTYPE html>
<html lang="ja">
  <head>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" grity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        <var>socket = io();</var>
      </script>
      <title>OSS PLAYON.JP</title>
    </head>
  </head>
  <body>
    <header>
      <div id="logo_bar">
        <div id="logo_area"><a href="index.html"><img src="../public/images/logo.gif"></a></div>
        <div id="advert_header"></div>
      </div>
      <nav>
        <ul>
          <li><img src="../public/images/game.jpg"></li>
          <li><img src="../public/images/chat.jpg"></li>
          <li><img src="../public/images/bbs.jpg"></li>
          <li><img src="../public/images/flash.jpg"></li>
          <li><img src="../public/images/dreamweaver.jpg"></li>
        </ul>
      </nav>
    </header>
    <footer class="copyright">PLAYON.JP -> Copyright 1997-2011 Tomohiro Ueki All Rights Reserved.<br>OSS-PLAYON.JP -> Copyright 2017 Kill_In+Sun All Rights Reserved.</footer>
  </body>
</html>