extends _layout.pug
block contents
	script(src="https://code.jquery.com/jquery-1.11.1.js")
	script(src="/socket.io/socket.io.js")
	script(type="text/javascript" src="javascripts/chat.js")
	main
		div.container-fluid
			div.row
				div.col-lg-12
					//- Info
					h1 ***号館 - チャット
					p.chathelp
						| FLASHで作られた[PLAYON.JP]を再現した、HTML5とnode.jsで動作するチャットです。
						| 無料で利用できます。チャットの使い方については、説明ページを見て下さい。
						| 1～6号館はユーザ登録をした人のみが入れる号館です。
						| ログインしてから、チャットに来て下さい。
						| ゲスト用は登録に関係なく誰でも使えます。 
						| マイクやWebカメラを使うビデオチャットは、ユーザ登録した方のみ利用できます。
			div.row
				div.col-lg-10
					div.row
						div#member_list
							div#title_bar
							div#switch_opt.form-inline
								label.radio-inline
									input.form-inline("type=radio checked")
									span 時間
								label.checkbox-inline
									input.form-inline("type=radio")
									span IP
							div#list.container-fluid
								//div.one_line.row
						// Join view
						div#join_view.container-fluid
							form#form_join(action="" name="form_join")
								input(type="text" id="user_name")
								input#btn_room_join(type="submit" name="btn_room_join" value="入室")
							div#rules
								p ルールを色々記載する
							
						// Room view
						div#room_view.container-fluid
							form#command.row
								div#to_area.col-sm-2
									p#current_user_name 
									select#room_dm_to.form-control("name=dm_to")
										option("value=共有ボード") 共有ボード
								div#text_area.col-sm-8
									div.container
										div.row.form-inline
											label.checkbox-inline
												input.col-sm1.form-control.form-inline("type=checkbox")
											span.col-sm11 
												| 入退室時に発言する(部屋の様子を見たい場合はチェックを外す)
										div.row.form-inline
											input.form-control.col-sm11("type=text placeholder=type_command")
											button.btn.btn-default.col-sm1("type=submit") 送信
							div#room_list.row
								div.container
									div.row
										div#red.col-lg-2.room.container
											div.row
												div.col-lg-6.number 1/16
												div.col-lg-6.join: input.form-control.room_join_btn("type=button value=入室")
											div.room_name 赤
										div#waterblue.col-lg-2.room.container
											div.row
												div.col-lg-6.number 1/16
												div.col-lg-6.join: input.form-control.room_join_btn("type=button value=入室")
											div.room_name 薄青
										div#green.col-lg-2.room.container
											div.row
												div.col-lg-6.number 1/16
												div.col-lg-6.join: input.form-control.room_join_btn("type=button value=入室")
											div.room_name 緑
									div.row
										div#purple.col-lg-2.room.container
											div.row
												div.col-lg-6.number 1/16
												div.col-lg-6.join: input.form-control.room_join_btn("type=button value=入室")
											div.room_name 紫
										div#yellow.col-lg-2.room.container
											div.row
												div.col-lg-6.number 1/16
												div.col-lg-6.join: input.form-control.room_join_btn("type=button value=入室")
											div.room_name 黄
										div#blue.col-lg-2.room.container
											div.row
												div.col-lg-6.number 1/16
												div.col-lg-6.join: input.form-control.room_join_btn("type=button value=入室")
											div.room_name 青
					div.row
						div#chat_view.container-fluid
							// Chat view
							form#form_chat(action="" name="form_chat")
								input(type="text" id="msg")
								input#btn_send("type=submit value=送信")
								input#btn_leave("type=button value=退室")
							ul#message
				div.col-lg-2
					//- Right advert
					div#advert_right
						p advert
				script.
					$(function() {
						// タイトルバーをドラッグしたとき
						wx = 550;
						wy = 120;
						$('#title_bar').mousedown(function(e) {
						  var mx = e.pageX;
						  var my = e.pageY;
						  $(document).on('mousemove.member_list', function(e) {
							wx += e.pageX - mx;
							wy += e.pageY - my;
							$('#member_list').css({top: wy, left: wx});
							mx = e.pageX;
							my = e.pageY;
							return false;
						  }).one('mouseup', function(e) {
							$(document).off('mousemove.member_list');
						  });
						  return false;
						});
					});
					

