<!DOCTYPE html>
<html lang="ja">
  <head>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" grity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <title></title>
    </head>
  </head>
  <body>
    <header>
      <div id="logo_bar">
        <div id="logo_area"><a href="index.html"><img src="http://undefined/images/logo.gif"></a></div>
        <div id="advert_header"></div>
      </div>
      <nav>
        <ul>
          <li><img src="http://undefined/images/game.jpg"></li>
          <li><img src="http://undefined/images/chat.jpg"></li>
          <li><img src="http://undefined/images/bbs.jpg"></li>
          <li><img src="http://undefined/images/flash.jpg"></li>
          <li><img src="http://undefined/images/dreamweaver.jpg"></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <p>
      <div class="container">
        <div class="row">
          <div class="col-md-2 hidden-sm" id="user_column_pc">
            <p>user_navigation</p>
          </div>
          <div class="col-md-10" id="main_container">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <h1>チャット</h1>
                  <p class="chathelp">
                    FLASHで作られた[PLAYON.JP]を再現した、HTML5とnode.jsで動作するチャットです。
                    無料で利用できます。チャットの使い方については、説明ページを見て下さい。
                    1～6号館はユーザ登録をした人のみが入れる号館です。
                    ログインしてから、チャットに来て下さい。
                    ゲスト用は登録に関係なく誰でも使えます。 
                    マイクやWebカメラを使うビデオチャットは、ユーザ登録した方のみ利用できます。
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <div class="container" id="all_view">
                    <div class="row">
                      <div class="col-lg-3 roomarea" id="guest1">
                        <div class="room_name">ゲスト</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,ggg,hhh,iii,jjj,kkk,lllllllllllll,mmmmmmm,ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd_______________________________________________________________________</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="guest2">
                        <div class="room_name">ゲスト2</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="tennis">
                        <div class="room_name">テーブルテニス</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 roomarea" id="build1">
                        <div class="room_name">1号館</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="build2">
                        <div class="room_name">2号館</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="build3">
                        <div class="room_name">3号館</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 roomarea" id="build4">
                        <div class="room_name">4号館</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="build5">
                        <div class="room_name">5号館</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="build6">
                        <div class="room_name">6号館</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 roomarea" id="two">
                        <div class="room_name">二人限定</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="two2">
                        <div class="room_name">二人限定(2)</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list"></div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 roomarea" id="denybuild">
                        <div class="room_name">アクセス禁止</div>
                        <div class="member_stat clearfix">
                          <div class="red">0</div>
                          <div class="waterblue">0</div>
                          <div class="green">0</div>
                          <div class="purple">0</div>
                          <div class="yellow">0</div>
                          <div class="blue">0</div>
                        </div>
                        <div class="member_list">
                          <p>aaa,bbb,ccc,ddd,eee,fff,gg</p>
                        </div>
                        <div class="build_info">
                          <div class="number">現在 0 人入館中</div>
                          <div class="join">
                            <input class="form-control" type=button value=入室>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div id="advert_right">
                    <p>advert</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p>
    <footer class="copyright">PLAYON.JP -> Copyright 1997-2011 Tomohiro Ueki All Rights Reserved.<br>OSS-PLAYON.JP -> Copyright 2017 Kill_In+Sun All Rights Reserved.</footer>
  </body>
</html>