extends _layout.pug
block contents
	script(src="https://code.jquery.com/jquery-1.11.1.js")
	script(src="/socket.io/socket.io.js")
	main
		div.container-fluid
			div.row
				div.col-lg-12
					//- Info
					h1 ログイン完了
