include ../_vars.pug
header
	div#logo_bar
		div#logo_area
			a(href="/")
				img(src="images/logo.gif")
		div#advert_header
	nav
		ul
			li: img(src="images/game.jpg")
			li: img(src="images/chat.jpg")
			li: img(src="images/bbs.jpg")
			li: img(src="images/flash.jpg")
			li: img(src="images/dreamweaver.jpg")

