@charset "UTF-8";
/* 汎用クラス */
[class^="mark"] {
  padding-left: 15px;
  background: no-repeat left .5em; }

.mark1 {
  background-image: url(../img/share/mark_1.gif); }

.mark2 {
  background-image: url(../img/share/mark_2.gif); }

.mark3 {
  background-image: url(../img/share/mark_3.gif); }

.mark4 {
  background-image: url(../img/share/mark_4.gif); }

.mark5 {
  background-image: url(../img/share/mark_5.gif); }

.opacity {
  opacity: 0.55;
  -moz-opacity: 0.55;
  filter: alpha(opacity=55);
  -ms-filter: "alpha(opacity=55)"; }

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.table_cell {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.fr,
.imgR {
  float: right;
  margin-left: 10px; }

.fl,
.imgL {
  float: left;
  margin-right: 10px; }

.imgC,
.tC,
.btn {
  text-align: center; }

.imgC {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.tR,
.sign {
  text-align: right; }

.box_size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.ts_none {
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  -ms-text-shadow: none !important;
  -o-text-shadow: none !important;
  text-shadow: none !important; }

.bs_none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

/* clearfix */
.clearfix, header #nav, footer.copyright {
  *zoom: 1; }
  .clearfix:after, header #nav:after, footer.copyright:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

/* TEST 
.test {
	@include border_radius;
	@include border_radius(5px 10px 2px 12%);
	@include bg_size(100px);
	@include min_height(777px);
	@extend .clearfix;
	@extend .box_size;
	background: url(../img/share/bg_test.gif);
	font-size: fz(18);
}
.opTest img:hover {
	@extend .opacity;
}
*/
/*----------------------------------------------------
	element style
----------------------------------------------------*/
body {
  background: #F4F4F4;
  color: #333;
  font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; }

input, textarea {
  font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; }

* html body, * html input, * html textarea {
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; }

.externalIcon {
  margin: 0 3px;
  vertical-align: middle; }

a:link {
  color: #06f; }

a:visited {
  color: #39f; }

a:hover {
  text-decoration: none;
  color: #00f; }

a:active {
  color: #00f; }

/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
header #nav li {
  float: left; }

/*----------------------------------------------------
	フッター
----------------------------------------------------*/
footer.copyright {
  font-size: 12px;
  text-align: center;
  background-color: #CCFF99;
  border-top: 1px solid #003366;
  border-bottom: 2px solid #003366;
  vertical-align: middle;
  padding-top: 3px;
  padding-bottom: 1px; }

/*----------------------------------------------------
	メニュー
----------------------------------------------------*/
nav ul li {
  display: inline; }

/*----------------------------------------------------
	#main
----------------------------------------------------*/
main {
  background: #F4F4F4;
  padding-bottom: 5px; }
  main h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-align: center; }
  main p.chathelp {
    font-size: 12px; }
  main div .roomarea {
    font-size: 12px;
    width: 100%;
    height: 200px;
    background: #fff;
    text-align: center;
    margin: 20px; }
    main div .roomarea .member_stat .red {
      background: #EE836F;
      float: left;
      width: 16.6%; }
    main div .roomarea .member_stat .waterblue {
      background: #89C3EB;
      float: left;
      width: 16.6%; }
    main div .roomarea .member_stat .green {
      background: #3EB370;
      float: left;
      width: 16.6%; }
    main div .roomarea .member_stat .purple {
      background: #7058A3;
      float: left;
      width: 16.6%; }
    main div .roomarea .member_stat .yellow {
      background: #F3F133;
      float: left;
      width: 16.6%; }
    main div .roomarea .member_stat .blue {
      background: #1E50A2;
      float: left;
      width: 16.6%; }
    main div .roomarea .member_list {
      height: 50%;
      word-break: break-word;
      overflow: auto; }
    main div .roomarea .build_info {
      font-size: 8px; }
      main div .roomarea .build_info .join input {
        font-size: 8px; }
  main div #room_view {
    background: #EDE9D8; }
    main div #room_view #member_list {
      width: 350px;
      height: 300px;
      background: gray;
      position: absolute;
      z-index: 9999;
      top: 120px;
      left: 550px; }
      main div #room_view #member_list #title_bar {
        background: blue;
        height: 15px; }
      main div #room_view #member_list #list {
        height: 70%;
        overflow: auto;
        font-size: 12px; }
    main div #room_view form#command {
      padding: 10px; }
      main div #room_view form#command div#to_area {
        font-size: 12px; }
      main div #room_view form#command div#text_area {
        background: #6C3524;
        color: #FFFFFF;
        font-size: 10px; }
        main div #room_view form#command div#text_area .row {
          margin-top: 5px;
          margin-bottom: 5px; }
    main div #room_view div.row .room {
      height: 150px;
      margin: 10px;
      margin-bottom: 100px;
      padding: 10px;
      border: 1px solid #000000; }
      main div #room_view div.row .room .room_name {
        text-align: center; }
      main div #room_view div.row .room .number {
        text-align: center; }
      main div #room_view div.row .room input.form-control {
        background: #F8B500;
        color: #000000;
        font-weight: bold; }
    main div #room_view div.row #red {
      background: #EE836F; }
    main div #room_view div.row #waterblue {
      background: #89C3EB; }
    main div #room_view div.row #green {
      background: #3EB370; }
    main div #room_view div.row #purple {
      background: #7058A3; }
    main div #room_view div.row #yellow {
      background: #F3F133; }
    main div #room_view div.row #blue {
      background: #1E50A2; }
    main div #room_view #room_list {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px; }

/*----------------------------------------------------
	#sub
----------------------------------------------------*/
#sub {
  float: right;
  width: 310px;
  background: #F4F4F4; }
