@charset "utf-8";
// ===================================================================
// レイアウト関係のスタイル
// ===================================================================


/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
header {
	#nav {
		@extend .clearfix;
		li {
			float: left;
		}
	}
}


/*----------------------------------------------------
	フッター
----------------------------------------------------*/
footer.copyright {
	@extend .clearfix;
		font-size: 12px;
		text-align: center;
		background-color: #CCFF99;
		border-top: 1px solid #003366;
		border-bottom: 2px solid #003366;
		vertical-align: middle;
		padding-top: 3px;
		padding-bottom: 1px;
}


/*----------------------------------------------------
	メニュー
----------------------------------------------------*/
nav {
	ul {
		li {
			display: inline;
		}
	}
	
}


