@charset "utf-8";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================
 
/*----------------------------------------------------
	element style
----------------------------------------------------*/
body {
	background: $main_color;
	color: $font_color;
	font-family: $base_font;
}
 
input, textarea {
	font-family: $base_font;
}
 
// for IE6
* html {
	body, input, textarea {
		font-family: $base_font_ie;
	}
}
 
// 外部リンクアイコン
.externalIcon {
	margin: 0 3px;
	vertical-align: middle;
}
 
// リンク
a {
	&:link {
		color: $link_color;
	}
	&:visited {
		color: $link_color_visited;
	}
	&:hover {
		text-decoration: none;
		color: $link_color_hover;
	}
	&:active {
		color: $link_color_active;
	}
}
 
 
// レイアウト関係のスタイル読み込み
@import "layout";
 
 
/*----------------------------------------------------
	#main
----------------------------------------------------*/
main {
	@extend .clearfix;
	background: $main_color;
	padding-bottom: 5px;
	h1{
		display: block;
		font-size: 2em;
		-webkit-margin-before: 0.67em;
		-webkit-margin-after: 0.67em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;	
		text-align: center;
	}
	
	p.chathelp{
		font-size: 12px;
	}

	div.roomarea{
		font-size: 12px;
		width: 100%;
		height: 200px;
		background: #fff;
		text-align: center;
		margin: 20px;

		.member_stat{
			.red{ background: $red ; float:left; width: 16.6%; }
			.waterblue{ background: $waterblue ; float:left; width: 16.6%; }
			.green{ background: $green ; float:left; width: 16.6%;}
			.purple{ background: $purple ; float:left; width: 16.6%;}
			.yellow{ background: $yellow ; float:left; width: 16.6%;}
			.blue{ background: $blue ; float:left; width: 16.6%;}
		}

		.member_list{
			height:50%;
			word-break: break-word;
			overflow:auto;
		}

		.build_info{
			font-size: 8px;
			.join{
				input{
					font-size:8px;
				}
			}
		}
	}

	div#member_list{
		width:370px;
		height: 300px;
		background:gray;
		position: absolute;
		z-index: 9999;
		top: 120px;
		left: 550px;
		#title_bar{
			background: blue;
			height:20px;
		}
		#switch_opt{
		}
		#list{
			background: #FFFFFF;
			width: 90%;
			height: 70%;
			overflow: auto;	
			font-size: 12px;
			padding:10px;
			margin:10px auto;
			.one_line{
				height: 10%;

				.rom_user{ color: #FF0000; }
				.red{ background: $red; }
				.waterblue{ background: $waterblue; }
				.green{ background: $green; }
				.purple{ background: $purple; }
				.yellow{ background: $yellow; }
				.blue{ background: $blue; }
			}
		}
	}


	div#room_view{
		display: none; //default
		background: #EDE9D8;


		//command_area
		#command{
			padding: 10px;

			div#to_area{
				font-size: 12px;
			}
			div#text_area{
				background: #6C3524;
				color: #FFFFFF;
				font-size: 10px;
				.row {
					margin-top: 5px;
					margin-bottom: 5px;
				}
			}
		}



		//Room List
		#room_list{
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;

			.row{
				.room{
					height: 150px;
					margin: 10px;
					margin-bottom: 100px;
					padding: 10px;
					border: 1px solid #000000;
					.room_name{
						text-align: center;
					}
					.number{
						text-align: center;
					}
					input.form-control{
						background: #F8B500;
						color: #000000;
						font-weight: bold;	
					}
				}
				#red{ background: #EE836F; }
				#waterblue{ background: #89C3EB; }
				#green{ background: #3EB370; }
				#purple{ background: #7058A3; }
				#yellow{ background: #F3F133; }
				#blue{ background: #1E50A2; }

			}
		}
	}

	div#join_view{
		display: visible; //default
		background: #FFFFFF;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;

	}

	div#chat_view{
		display: none;
		background: #f7f7f7;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		
		div#chat_room_info_box{
			p{ margin-bottom: 5px;}
		}

		div#leave_box{
			margin:10px;
		}

		div#input_area{
			background: #6C3524;
			margin: 10px;
	
			div#top{
				padding-top: 10px;
				padding-bottom: 10px;
				margin-left: 15px;
				input{ 
					margin-left: 5px; 
					width: 35px;
					height: 35px;
				}
				select{
					margin-left: 5px;
					width: 100px;
				}
			}

			div#bottom{
				padding-top: 10px;
				padding-bottom: 10px;

				#input_box{
					width: 100%;
				}

				#btn_send{
					width: 100%;
				}
			}
			
			input .form-control-custom:hover{
				background-color: #000000;
					
			}

		}	

		@mixin msg_area {
			margin : 15px;
			border: solid 1px #000000;
			.msg_line{
				@extend .clearfix;
				background: #FFFFFF;
				

				border-top: solid 1px #DDDDDD;
				.msg_icon{
					float: left	;
				}

				.chat_user{
					float: left;
					border-right: solid 1px #000000;

				}
				.msg{
					float:left;

				}

				.be_bolder{ font-weight: bold;};
				.be_italic{ font-style: oblique;};
				.be_underl{ text-decoration: underline;};
			}
		}
		div#dm_msg_area{
			display: none;
			@include msg_area;


		}
		div#chatted_msg_area{
			display: visible;
			@include msg_area;

		}


		.change_tab{
			border: 1px solid #000000;
			border-radius: 10px;
			height: 30px;
				
		}

		#room_button{
			background-color: #00FF00;
		}

		#share_board{
			background-color: #DDAAEE;
		}


		#share_signal + .radio-icon:before {
			background-color: #FFFFFF;
			color:#f00;
			font-size: 22px;
			
		}

		#share_signal:checked + .radio-icon:before {
			background-color: #FFFFFF;
			color:#f00;
			font-size: 22px;
			
		}
	}
		

}

 
 
/*----------------------------------------------------
	#sub
----------------------------------------------------*/
#sub {
	float: right;
	width: 310px;
	background: $main_color;
}
