@charset "utf-8";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================
 
/* TEST 
.test {
	@include border_radius;
	@include border_radius(5px 10px 2px 12%);
	@include bg_size(100px);
	@include min_height(777px);
	@extend .clearfix;
	@extend .box_size;
	background: url(#{$img_path}share/bg_test.gif);
	font-size: fz(18);
}
.opTest img:hover {
	@extend .opacity;
}
*/  
 
/*----------------------------------------------------
	element style
----------------------------------------------------*/
body {
	background: $main_color;
	color: $font_color;
	font-family: $base_font;
}
 
input, textarea {
	font-family: $base_font;
}
 
// for IE6
* html {
	body, input, textarea {
		font-family: $base_font_ie;
	}
}
 
// 外部リンクアイコン
.externalIcon {
	margin: 0 3px;
	vertical-align: middle;
}
 
// リンク
a {
	&:link {
		color: $link_color;
	}
	&:visited {
		color: $link_color_visited;
	}
	&:hover {
		text-decoration: none;
		color: $link_color_hover;
	}
	&:active {
		color: $link_color_active;
	}
}
 
 
// レイアウト関係のスタイル読み込み
@import "layout";
 
 
/*----------------------------------------------------
	#main
----------------------------------------------------*/
main {
	@extend .clearfix;
	background: $main_color;
	padding-bottom: 5px;
	h1{
		display: block;
		font-size: 2em;
		-webkit-margin-before: 0.67em;
		-webkit-margin-after: 0.67em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;	
		text-align: center;
	}
	
	p.chathelp{
		font-size: 12px;
	}

	div {
		
		.roomarea{
			font-size: 12px;
			width: 100%;
			height: 200px;
			background: #fff;
			text-align: center;
			margin: 20px;
			.member_stat{
				.red{ background: $red ; float:left; width: 16.6%; }
				.waterblue{ background: $waterblue ; float:left; width: 16.6%; }
				.green{ background: $green ; float:left; width: 16.6%;}
				.purple{ background: $purple ; float:left; width: 16.6%;}
				.yellow{ background: $yellow ; float:left; width: 16.6%;}
				.blue{ background: $blue ; float:left; width: 16.6%;}
			}
			.member_list{
				height:50%;
				word-break: break-word;
				overflow:auto;
			}
			.build_info{
				font-size: 8px;
				.join{
					input{
						font-size:8px;
					}
				}
			}
		}

		#room_view{
			background: #EDE9D8;

			#member_list{
				width:350px;
				height: 300px;
				background:gray;
				position: absolute;
				z-index: 9999;
				top: 120px;
				left: 550px;
				#title_bar{
					background: blue;
					height:15px;
				}
				#switch_opt{
				}
				#list{
					height:70%;
					overflow:auto;	
					font-size: 12px;
				}
			}
			//command_area
			form#command{
				padding: 10px;

				div#to_area{
					font-size: 12px;
				}
				div#text_area{
					background: #6C3524;
					color: #FFFFFF;
					font-size: 10px;
					.row {
						margin-top: 5px;
						margin-bottom: 5px;
					}
				}
			}
			div.row{
				.room{
					height: 150px;
					margin: 10px;
					margin-bottom: 100px;
					padding: 10px;
					border: 1px solid #000000;
					.room_name{
						text-align: center;
					}
					.number{
						text-align: center;
					}
					input.form-control{
						background: #F8B500;
						color: #000000;
						font-weight: bold;	
					}
				}
				#red{ background: #EE836F; }
				#waterblue{ background: #89C3EB; }
				#green{ background: #3EB370; }
				#purple{ background: #7058A3; }
				#yellow{ background: #F3F133; }
				#blue{ background: #1E50A2; }
			}
			#room_list{
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		#chat_view{
		}
	}
}

 
 
/*----------------------------------------------------
	#sub
----------------------------------------------------*/
#sub {
	float: right;
	width: 310px;
	background: $main_color;
}
